.fetching{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  display: flex;
  color: #FFF;
  font-size: 5em;
  justify-content: center;
  align-items: center;
}
.spinner{
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}